h2{
    width: 100%;
    text-align: center;
}

.photosByBreed{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap:0.5em;
    align-items: center;
}

.photosByBreed div{
    margin: 0 auto;
}

.photosByBreed div img{
    max-width: 20em;
    max-height:30em;
}